body {
    font-size: 20px;
    min-height: 200vh;
    background-color: #FFBE0B;
    background-image: url('/APP/images/yugioh.png');
    background-repeat: no-repeat;
    background-size:55%; 
    background-position: top center;
}
.sidebar{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    gap: 20px; 
}

h1{
    color: rgb(238, 5, 5);
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#intro{
    color: rgba(0, 0, 0);
    text-align: center;
    width: 100%;
    margin: 35vh auto;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cardForm{
    position: absolute;
    margin-top: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cardName{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}
#KonamiID{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}
#cardType{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

#cardDetails {
    margin-top: 90vh;
}

button[type="submit"] {
    
    background-color: #5649d3; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: block;
    font-size: 16px;
    margin:0 auto;
    cursor: pointer; 
    transition-duration: 0.4s; 
}

button[type="submit"]:hover {
    background-color: #f15d23;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
    flex: 1 0 10%;
    margin: 20px 10px; 
    box-sizing: border-box;
    position: relative;
    margin-top: -150px;
    margin-bottom: 170px;

  }
  
  .errorMessage {
    font-size: 100px;
    text-align: center;
    color: red;
    margin-top: 0px; 
  }




  